{% import_yaml 'plex/defaults.yaml' as default_settings %}
{% set plex = salt['pillar.get']('plex', default=default_settings.get('plex'), merge=True) %}

{% set j1, j2, x86, extension = ('_', '_', 'amd64', '.deb') if salt['grains.get']('os_family') == 'Debian' else ('-', '.', 'x86_64', '.rpm') %}
{% set arch = x86 if salt['grains.get']('cpuarch') == 'x86_64' else 'i386' %}
{% set url = 'https://downloads.plex.tv/plex-media-server/' + plex.version + '/plexmediaserver' + j1 + plex.version + j2 + arch + extension %}

{% do plex.update({
  'url': url
}) %}